{% macro render(post, is_index, post_extra_class) %}

    {% set post_class = 'post post-type-' + post.type | default('normal') %}
    {% if post_extra_class > 0 %}
        {% set post_class = post_class + ' ' + post_extra_class | default('') %}
    {% endif %}
    {% if post.sticky > 0 %}
        {% set post_class = post_class + ' ' + 'post-sticky' %}
    {% endif %}

    <article>
        {% if is_index %}
            {{ post }}
            111111
            {% if post.description and theme.excerpt_description %}
                {{ post.description }}
                <!--noindex-->
                <div class="post-button text-center">
                    <a class="btn" href="{{ url_for(post.path) }}">
                        {{ __('post.read_more') }} &raquo;
                    </a>
                </div>
                <!--/noindex-->
                {% elif post.excerpt  %}
                {{ post.excerpt }}
                <!--noindex-->
                <div class="post-button text-center">
                    <a class="btn" href="{{ url_for(post.path) }}{% if theme.scroll_to_more %}#{{ __('post.more') }}{% endif %}" rel="contents">
                        {{ __('post.read_more') }} &raquo;
                    </a>
                </div>
                <!--/noindex-->
                {% elif theme.auto_excerpt.enable %}
                {% set content = post.content | striptags %}
                {{ content.substring(0, theme.auto_excerpt.length) }}
                {% if content.length > theme.auto_excerpt.length %}...{% endif %}
                <!--noindex-->
                <div class="post-button text-center">
                    <a class="btn" href="{{ url_for(post.path) }}{% if theme.scroll_to_more %}#{{ __('post.more') }}{% endif %}" rel="contents">
                        {{ __('post.read_more') }} &raquo;
                    </a>
                </div>
                <!--/noindex-->
            {% else %}
                {{ post.content }}
                {% if post.type === 'picture' %}
                    <a href="{{ url_for(post.path) }}">{{ post.content }}</a>
                {% else %}
                    {{ post.content }}
                {% endif %}
            {% endif %}
        {% else %}
            {{ post.content }}
        {% endif  %}
        {% if is_index %}
            {% if post.description and theme.excerpt_description %}
                {{ post.description }}
                <!--noindex-->
                <div class="post-button text-center">
                    <a class="btn" href="{{ url_for(post.path) }}">
                        {{ __('post.read_more') }} &raquo;
                    </a>
                </div>
                <!--/noindex-->
                {% elif post.excerpt  %}
                {{ post.excerpt }}
                <!--noindex-->
                <div class="post-button text-center">
                    <a class="btn" href="{{ url_for(post.path) }}{% if theme.scroll_to_more %}#{{ __('post.more') }}{% endif %}" rel="contents">
                        {{ __('post.read_more') }} &raquo;
                    </a>
                </div>
                <!--/noindex-->
                {% elif theme.auto_excerpt.enable %}
                {% set content = post.content | striptags %}
                {{ content.substring(0, theme.auto_excerpt.length) }}
                {% if content.length > theme.auto_excerpt.length %}...{% endif %}
                <!--noindex-->
                <div class="post-button text-center">
                    <a class="btn" href="{{ url_for(post.path) }}{% if theme.scroll_to_more %}#{{ __('post.more') }}{% endif %}" rel="contents">
                        {{ __('post.read_more') }} &raquo;
                    </a>
                </div>
                <!--/noindex-->
            {% else %}
                {% if post.type === 'picture' %}
                    <a href="{{ url_for(post.path) }}">{{ post.content }}</a>
                {% else %}
                    {{ post.content }}
                {% endif %}
            {% endif %}
        {% else %}
            {{ post.content }}
        {% endif  %}
    </article>

{% endmacro %}
