{% extends 'includes/layout.njk' %}
{% block body %}
    <div class="main">
        <div class="index-posts">
            {% include 'includes/recent-posts.njk' %}
        </div>

        {{ paginator() }}
    </div>
{% endblock %}
