{% extends 'includes/layout.njk' %}

{% block body %}
    <div class="posts">
        {% include 'includes/recent-posts.njk' %}
    </div>
    <div class="infos">

    </div>

  {{ paginator() }}
{% endblock %}
