<% if (theme.widgets.search) { %>
    <section class="aside-section">
        <h1>Archives</h1>
        <div class="bottom-shadow first"></div>
        <div class="bottom-shadow second"></div>
    </section>
<% } %>