.aside
  overflow: hidden

.aside-section
  margin: 0
  h1
    font: 1.25em/1.2 Lora
    margin: .67em 0
    color: #777

  ul
    list-style: none
    margin: 0
    padding: 0
    li
      border-top: 1px dashed #ddd
      margin-top: .6em
      padding-top: .6em
      a
        color: #f78769
        text-decoration: none
        font: 14px Lato
        transition: .3s
        &:hover
          color: #ddd

.aside-section.tag
  li
    display: inline-block
    border: none
    margin: 0 10px 0 0
    a
      border: 1px dashed #ddd
      padding: 4px

@media screen and (max-width: 1015px)
  .aside
    width: 100%


// profile
div.profile
  background #E74C3C
  min-height 360px
  display flex
  flex-direction column
  align-items center

div.profile > .image
  width 106px
  height 106px
  border 0 none
  border-radius 50px
  background-color #d82425
  display flex
  align-items center
  justify-content center
  margin-top 50px

div.profile > .image > img
  width 100px
  height 100px
  border-radius 50px

div.profile > .content
  text-align center
  margin-top 25px
  padding 0 25px

div.profile > .content > .name
  font-size 16px
  font-weight bold
  color #FFFFFF

div.profile > .content > .desc
  margin-top 10px
  font-size 13px
  font-weight normal
  color #f6f6f6

div.profile > .social
  margin-top 20px
  margin-bottom 20px

div.profile > .social > button
  padding 3px
  width 30px
  height 30px