body {
  background: #f1f1f1;
  min-height: 100vh;
  position: relative;
}
div.navbar {
  background-image: url("/img/header-bg.png");
  background-size: 100% 100%;
}
div.main-content {
  margin-top: 100px;
}
div.footer {
  width: 100%;
  height: 150px;
  background-color: #2f3c4e;
  position: absolute;
  bottom: 0;
}
div.footer span.auther {
  color: #f1f1f1;
}
div.footer > div.foot-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
