@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:regular,bold|Source+Code+Pro");
@font-face {
  font-family: 'MFZhuoHei';
  src: url("/fonts/MFZhuoHei/MFZhuoHei-Noncommercial-Regular.woff") format("woff"), url("/fonts/MFZhuoHei/MFZhuoHei-Noncommercial-Regular.ttf") format("truetype"), url("/fonts/MFZhuoHei/MFZhuoHei-Noncommercial-Regular.eot") format("embedded-opentype"), url("/fonts/MFZhuoHei/MFZhuoHei-Noncommercial-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MFKeSong';
  src: url("/fonts/MFKeSong/MFKeSong_Noncommercial-Regular.woff") format("woff"), url("/fonts/MFKeSong/MFKeSong_Noncommercial-Regular.ttf") format("truetype"), url("/fonts/MFKeSong/MFKeSong_Noncommercial-Regular.eot") format("embedded-opentype"), url("/fonts/MFKeSong/MFKeSong_Noncommercial-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MFKeSong';
  src: url("/fonts/MFKeSong/MFKeSong_Noncommercial-Bold.woff") format("woff"), url("/fonts/MFKeSong/MFKeSong_Noncommercial-Bold.ttf") format("truetype"), url("/fonts/MFKeSong/MFKeSong_Noncommercial-Bold.eot") format("embedded-opentype"), url("/fonts/MFKeSong/MFKeSong_Noncommercial-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HYRunYuan';
  src: url("/fonts/HYRunYuan/HYRunYuan-35W.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'HYRunYuan';
  src: url("/fonts/HYRunYuan/HYRunYuan-45W.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HYRunYuan';
  src: url("/fonts/HYRunYuan/HYRunYuan-55W.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'HYRunYuan';
  src: url("/fonts/HYRunYuan/HYRunYuan-75W.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
.aside {
  overflow: hidden;
}
.aside-section {
  margin: 0;
  margin-bottom: 2em;
  background: #fff;
  padding: 1.875em;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.06);
  border: 1px solid rgba(163,169,176,0.3);
  border-radius: 2px;
  position: relative;
}
.aside-section h1 {
  font: 1em RobotoSlab;
  padding-left: 38px;
  position: relative;
  color: #2f3c4e;
  margin-bottom: 0.625em;
  line-height: 1.75em;
  font-weight: bold;
}
.aside-section h1:before {
  position: absolute;
  left: 0;
  display: block;
  font-family: "Font Awesome 5 Free";
  content: "\f07c";
  color: #fff;
  background-color: #2f3c4e;
  width: 1.75em;
  height: 1.75em;
  text-align: center;
  font-size: 0.9em;
  font-weight: 700;
  line-height: 1.5em;
  border-radius: 2px;
  padding: 2px 6px;
}
.aside-section h1:after {
  position: absolute;
  left: 0;
  bottom: -0.75em;
  display: inline-block;
  content: '';
  height: 2px;
  width: 1.75em;
  background-color: #2f3c4e;
  z-index: 2;
}
.aside-section ul.category-list,
.aside-section ul.archive-list {
  list-style: none;
  margin: 0;
  padding: 0.56em 0 0 0;
  border-top: 2px solid #ecedee;
}
.aside-section ul.category-list > li,
.aside-section ul.archive-list > li {
  border-bottom: 1px solid #ecedee;
  margin-top: 0.6em;
  padding-bottom: 0.6em;
  position: relative;
  height: 2.25em;
}
.aside-section ul.category-list > li:last-child,
.aside-section ul.archive-list > li:last-child {
  border-bottom: none;
}
.aside-section ul.category-list > li a,
.aside-section ul.archive-list > li a {
  color: #4b525c;
  text-decoration: none;
  font-size: 0.813em;
  font-weight: 900;
  transition: 0.25s;
  width: 100%;
  background: rgba(0,0,0,0);
  display: block;
  line-height: 2em;
}
.aside-section ul.category-list > li a:hover,
.aside-section ul.archive-list > li a:hover {
  color: #aaa;
}
.aside-section ul.category-list > li a:after,
.aside-section ul.archive-list > li a:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: '\f101';
  font-size: 0.825em;
  font-weight: 700;
  right: 0;
  line-height: 2em;
}
.aside-section ul.tag-list {
  list-style: none;
  margin: 0;
  padding: 1.25em 0 0 0;
  border-top: 2px solid #ecedee;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.aside-section ul.tag-list > li {
  display: inline-block;
  margin: 0 3px 3px 0;
  background: #f6f6f6;
  border: 1px solid rgba(166,172,179,0.3);
  flex-grow: 1;
  text-align: center;
}
.aside-section ul.tag-list > li a {
  text-decoration: none;
  font-size: 0.75em;
  font-weight: 700;
  color: #a3a9b0;
  padding: 0 0.75em;
}
@media screen and (max-width: 1015px) {
  .aside {
    width: 100%;
  }
}
.profile {
  background: #e74c3c;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile .image {
  width: 106px;
  height: 106px;
  border: 0 none;
  border-radius: 50px;
  background-color: #d82425;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.profile .image img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.profile .content {
  text-align: center;
  margin-top: 25px;
  padding: 0 25px;
}
.profile .content .name {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.profile .content .desc {
  margin-top: 10px;
  font-size: 13px;
  font-weight: normal;
  color: #f6f6f6;
}
.profile .social {
  margin-top: 20px;
  margin-bottom: 20px;
}
.profile .social button {
  padding: 3px;
  width: 30px;
  height: 30px;
}
.categories h1:before {
  content: '\f07c';
}
.tags h1:before {
  content: '\f02c';
}
.bottom-shadow {
  position: absolute;
  bottom: -4px;
  left: -1px;
  height: 5px;
  width: calc(100% + 2px);
  background: #fff;
  border: 1px solid rgba(163,169,176,0.3);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.06);
  border-radius: 2px;
  z-index: -1;
}
.bottom-shadow.second {
  bottom: -7px;
  z-index: -2;
}
body {
  background: #f1f1f1;
  min-height: 100vh;
  position: relative;
  font-family: "Roboto Slab", HYRunYuan;
  font-size: 16px;
}
code {
  font-family: "Source Code Pro";
  background: #f6f6f6 !important;
  font-size: 0.9rem !important;
  letter-spacing: normal;
  border-left: 2px solid #e74c3c;
}
div.navbar {
  background-image: url("/img/header-bg.png");
  background-size: 100% 100%;
  height: 100px;
}
div.navbar .logo:hover,
div.navbar .logo,
div.navbar .logo:focus {
  font-family: MFZhuoHei;
  font-size: 30px;
  color: #e74c3c;
  letter-spacing: 3px;
}
div.navbar ul.menu li.menu-item {
  margin-right: 20px;
  font-size: 15px;
}
div.navbar ul.menu li.menu-item > a {
  color: #596371;
}
div.navbar ul.menu li.menu-item > a:hover {
  color: #596371;
}
div.main-content {
  margin-top: 85px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
}
@media screen and (max-width: 1015px) {
  .main-content .main {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .main-content {
    margin: 3rem 0 0;
    width: 100%;
    padding: 1.75rem;
  }
}
div.footer {
  width: 100%;
  height: 100px;
  background-color: #2f3c4e;
  position: absolute;
  bottom: 0;
}
div.footer span.auther {
  color: #f1f1f1;
}
div.footer > div.foot-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box-base {
  border: 1px solid rgba(163,169,176,0.3);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.06);
  border-radius: 2px;
}
.post-title {
  padding: 1.875rem;
  background: #fff;
  position: relative;
  margin-bottom: 1rem;
}
.post-title h3 a {
  text-decoration: none;
  color: #2f3c4e;
}
.post-info {
  position: relative;
  display: inline-block;
  height: 2.25rem;
  line-height: 2.25rem;
  padding: 0 0.5rem 0 2rem;
  margin-right: 1.25rem;
  background: #f6f6f6;
  border: 1px solid rgba(166,172,179,0.3);
  flex: 0 0 auto;
  text-align: center;
  font-size: 0.75rem;
  color: #9ba1a8;
}
.post-info:before {
  font-family: "Font Awesome 5 Free";
  content: "";
  color: #a3a9b0;
  font-size: 0.9375rem;
  font-weight: 400;
  display: block;
  position: absolute;
  left: 0;
  width: 2rem;
  text-align: center;
}
.post-info.time:before {
  content: "\f017";
}
.post-info.category:before {
  content: '\f07c';
  font-weight: 700;
}
.post-info.author:before {
  content: '\f007';
  font-weight: 700;
}
.post-info.view:before {
  content: '\f06e';
}
.post-info.like:before {
  content: '\f004';
  font-weight: 700;
}
.post-info.share:before {
  content: '\f1e0';
  font-weight: 700;
}
.post-info.comment:before {
  content: '\f086';
  font-weight: 700;
}
.post-info.more {
  border: none;
  background: #e74c3c;
  color: #fff !important;
  margin-left: auto;
  padding: 0 0.75rem;
  text-decoration: none;
  cursor: pointer;
}
.post-info span,
.post-info a {
  color: #e74c3c;
  margin-right: 0.25rem;
  text-decoration: none;
}
.post-cover {
  height: 27rem;
}
.post-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-content {
  margin-bottom: 3.5rem;
  background: #fff;
  position: relative;
  padding: 1.875rem;
  font-size: 0.8125rem;
}
