@import "font"
@import "aside"

body
  background #F1F1F1
  min-height 100vh
  position relative
  font-family HYRunYuan

// 标题栏
div.navbar
  background-image url("/img/header-bg.png")
  background-size 100% 100%
  height 100px

div.navbar .logo:hover, div.navbar .logo, div.navbar .logo:focus
  font-family MFZhuoHei
  font-size 30px
  color: #E74C3C;
  letter-spacing 3px

div.navbar ul.menu li.menu-item
  margin-right 20px
  font-size 15px
  font-weight bold

div.navbar ul.menu li.menu-item > a
  color #596371

div.navbar ul.menu li.menu-item > a:hover
  color #596371


div.main-content
  margin-top 85px
  box-sizing: border-box
  overflow: hidden
  display flex
  justify-content space-between
  letter-spacing 1px

@media screen and (max-width: 1015px)
  .main-content .main
    width: 100%

@media screen and (max-width: 640px)
  .main-content
    margin: 3em 0 0
    width: 100%
    padding: 1.75em


div.footer
  width 100%
  height 100px
  background-color #2f3c4e
  position absolute
  bottom 0

div.footer span.auther
  color #f1f1f1

div.footer > div.foot-container
  display flex
  align-items center
  justify-content space-between


.box-base
  border 1px solid rgba(163, 169, 176, 0.3)
  box-shadow 0 0 6px 0 rgba(0, 0, 0, 0.06)
  border-radius 2px


//index post
.post-title
  padding 1.875em
  background white
  position relative
  h3 a
    text-decoration none
    color #2F3C4E

.post-info
  display inline-block
  height 2.25em
  padding 0 .5em
  background rgba(246, 246, 246, 1)
  border 1px solid rgba(166, 172, 179, 0.3)
  flex-grow 1
  text-align center
  font-size .75em
  &:before
    font-family "Font Awesome 5 Free"
    content "\f017"
    font-size .9375em
    font-weight 400
