@import "font"
@import "aside"

body
  background #F1F1F1
  min-height 100vh
  position relative
  font-family "Roboto Slab", HYRunYuan
  font-size 16px

code
  font-family "Source Code Pro"
  background #f6f6f6 !important
  font-size .9rem !important
  letter-spacing normal
  border-left 2px solid rgba(231,76,60,1)
hr
  border-top 2px solid #ECEDEE
// 标题栏
div.navbar
  background-image url("/img/header-bg.png")
  background-size 100% 100%
  height 100px

div.navbar .logo:hover, div.navbar .logo, div.navbar .logo:focus
  font-family MFZhuoHei
  font-size 30px
  color: #E74C3C;
  letter-spacing 3px

div.navbar ul.menu li.menu-item
  margin-right 20px
  font-size 15px
  //font-weight bold

div.navbar ul.menu li.menu-item > a
  color #596371

div.navbar ul.menu li.menu-item > a:hover
  color #596371


div.main-content
  margin-top 85px
  box-sizing: border-box
  overflow: hidden
  display flex
  justify-content space-between
  letter-spacing 1px

@media screen and (max-width: 1015px)
  .main-content .main
    width: 100%

@media screen and (max-width: 640px)
  .main-content
    margin: 3rem 0 0
    width: 100%
    padding: 1.75rem


div.footer
  width 100%
  height 100px
  background-color #2f3c4e
  position absolute
  bottom 0

div.footer span.auther
  color #f1f1f1

div.footer > div.foot-container
  display flex
  align-items center
  justify-content space-between


.box-base
  border 1px solid rgba(163, 169, 176, 0.3)
  box-shadow 0 0 6px 0 rgba(0, 0, 0, 0.06)
  border-radius 2px
  position relative


//index post
.post-title
  padding 1.875rem
  background white
  position relative
  margin-bottom 1rem
  h3 a
    text-decoration none
    color #2F3C4E

.post-info
  position relative
  display inline-block
  height 2.25rem
  line-height 2.25rem
  padding 0 .5rem 0 2rem
  margin-right 1.25rem
  background rgba(246, 246, 246, 1)
  border 1px solid rgba(166, 172, 179, 0.3)
  flex 0 0 auto
  text-align center
  font-size .75rem
  color #9BA1A8
  &:before
    font-family "Font Awesome 5 Free"
    content ""
    color #A3A9B0
    font-size .9375rem
    font-weight 400
    display block
    position absolute
    left 0
    width 2rem
    text-align center
  &.time:before
    content "\f017"
  &.category:before
    content '\f07c'
    font-weight 700
  &.author:before
    content '\f007'
    font-weight 700
  &.view:before
    content '\f06e'
  &.like:before
    content '\f004'
    font-weight 700
  &.share:before
    content '\f1e0'
    font-weight 700
  &.comment:before
    content '\f086'
    font-weight 700
  &.more
    border none
    background #E74C3C
    color white !important
    margin-left auto
    padding 0 .75rem
    text-decoration none
    cursor pointer
  span
  a
    color #E74C3C
    margin-right .25rem
    text-decoration none

.post-cover
  height 27rem
  img
    width 100%
    height 100%
    object-fit cover

.post-content
  margin-bottom 3.5rem
  background white
  position relative
  padding 1.875rem
  font-size .8125rem
  img
    width 100%

.main-widget
  background white
  padding 1.875rem
  h1
    font 1rem RobotoSlab
    padding-left 38px
    position relative
    color #2F3C4E
    margin-bottom .625rem
    line-height 1.75rem
    font-weight bold
    &:before
      position absolute
      left 0
      display block
      font-family "Font Awesome 5 Free"
      content "\f07c"
      color #ffffff
      background-color #2F3C4E
      width 1.75rem
      height 1.75rem
      text-align center
      font-size .9rem
      font-weight 700
      line-height 1.5rem
      border-radius 2px
      padding 2px 6px
    &:after
      position absolute
      left 0
      bottom -.75rem
      display inline-block
      content ''
      height 2px
      width 1.75rem
      background-color #2F3C4E
      z-index 2
