@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:regular,bold|Source+Code+Pro")

@font-face
  font-family 'MFZhuoHei'
  src url("/fonts/MFZhuoHei/MFZhuoHei-Noncommercial-Regular.woff") format("woff"),
  url("/fonts/MFZhuoHei/MFZhuoHei-Noncommercial-Regular.ttf") format("truetype"),
  url("/fonts/MFZhuoHei/MFZhuoHei-Noncommercial-Regular.eot") format("embedded-opentype"),
  url("/fonts/MFZhuoHei/MFZhuoHei-Noncommercial-Regular.svg") format("svg");
  font-weight normal
  font-style normal

@font-face
  font-family 'MFKeSong'
  src url("/fonts/MFKeSong/MFKeSong_Noncommercial-Regular.woff") format("woff"),
  url("/fonts/MFKeSong/MFKeSong_Noncommercial-Regular.ttf") format("truetype"),
  url("/fonts/MFKeSong/MFKeSong_Noncommercial-Regular.eot") format("embedded-opentype"),
  url("/fonts/MFKeSong/MFKeSong_Noncommercial-Regular.svg") format("svg")
  font-weight normal
  font-style normal

@font-face
  font-family 'MFKeSong'
  src url("/fonts/MFKeSong/MFKeSong_Noncommercial-Bold.woff") format("woff"),
  url("/fonts/MFKeSong/MFKeSong_Noncommercial-Bold.ttf") format("truetype"),
  url("/fonts/MFKeSong/MFKeSong_Noncommercial-Bold.eot") format("embedded-opentype"),
  url("/fonts/MFKeSong/MFKeSong_Noncommercial-Bold.svg") format("svg");
  font-weight bold
  font-style normal

@font-face
  font-family 'HYRunYuan'
  src url("/fonts/HYRunYuan/HYRunYuan-35W.ttf") format("truetype")
  font-weight 200
  font-style normal

@font-face
  font-family 'HYRunYuan'
  src url("/fonts/HYRunYuan/HYRunYuan-45W.ttf") format("truetype")
  font-weight normal
  font-style normal

@font-face
  font-family 'HYRunYuan'
  src url("/fonts/HYRunYuan/HYRunYuan-55W.ttf") format("truetype")
  font-weight bold
  font-style normal

@font-face
  font-family 'HYRunYuan'
  src url("/fonts/HYRunYuan/HYRunYuan-75W.ttf") format("truetype")
  font-weight 900
  font-style normal
