<div class="navbar navbar-default navbar-lg navbar-expand-lg navbar-fixed-top" role="navigation">
    <nav class="container">
        <a class="navbar-brand logo" href="/"><%=config.title%></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-01"></button>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav ml-auto menu">
                <% Object.keys(theme.menu).forEach(function(key) { %>
                <li class="menu-item"><a href="<%=theme.menu[key]%>"><%=key%></a></li>
                <% }); %>
            </ul>
        </div>
    </nav>
</div>