<div id="bottom-inner" class="container foot-container">
    <span class="auther">Site by {{ config.author }} using <a href="http://hexo.io">hexo blog framework</a></span>
    <a href="{{ config.root }}">返回首页</a>
</div>